p {
  margin: 0px;
  color: var(--secondary-dark-color);
  font-size: var(--font-size-small);
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-family-font-weight-medium);
  word-spacing: 4px;
  line-height: 1.8;
}

@include mobile {
  p {
    text-align: center;
  }
}
