.light-theme {
  --primary-color: var(
    --imported-light-theme-primary-color,
    #{lighten(invert($default-primary-color), 11)}
  );
  --primary-light-color: var(
    --imported-light-theme-primary-light-color,
    #{invert($default-primary-light-color)}
  );
  --secondary-color: var(
    --imported-light-theme-secondary-color,
    #{lighten($default-secondary-color, 80)}
  );
  --secondary-light-color: var(
    --imported-light-theme-secondary-light-color,
    #{invert($default-secondary-light-color)}
  );
  --secondary-dark-color: var(
    --imported-light-theme-secondary-dark-color,
    #{invert($default-secondary-dark-color)}
  );
}
