@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$primary-font-family: "Inter", sans-serif;
$primary-font-family-font-weight-medium: 400;
$primary-font-family-font-weight-bold: 700;

$secondary-font-family: "Lexend Deca", sans-serif;
$secondary-font-family-font-weight-medium: 400;
