@import "../../style/main.scss";

.StatsCard {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 12px;
  display: flex;
  height: 446px;
  justify-content: center;
  width: max-content;

  &_Clicked {
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
  }

  &LeftSection {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 100%;
    justify-content: center;
    padding-left: 65px;
    width: 50%;
  }

  &RightSection {
    width: 50%;
    height: 100%;
    border-radius: 0px 12px 12px 0px;
    background-image: url("../../assets/images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    filter: opacity(0.5);

    transition: all 1s;
  }

  &InfoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
  }

  &FooterContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  &FooterItem {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &TitleAccent {
    color: var(--primary-light-color);

    &_Clicked {
      color: var(--secondary-light-color);
    }
  }

  &Desc_Clicked {
    color: var(--primary-dark-color);
  }

  &FooterDesc_Clicked {
    color: var(--primary-dark-color);
  }
}

@include mobile {
  .StatsCard {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 860px;
    transition: width 1s, height 1s;
    width: 370px;

    &RightSection {
      background-image: url("../../assets/images/image-header-mobile.jpg");
      background-size: cover;
      border-radius: 12px 12px 0px 0px;
      order: 1;
      width: 100%;
    }

    &LeftSection {
      align-items: center;
      gap: 40px;
      order: 2;
      padding: 20px 0px;
      width: 80%;
    }

    &InfoContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &FooterContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;
      width: 100%;
    }

    &FooterItem {
      align-items: center;
    }
  }
}
